<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.emrys.springboot.mapper.UserMapper">

    <!--查询所有-->
    <select id="findAll" resultType="cn.emrys.springboot.entity.User">
        select * from blog_user
    </select>

    <!--根据用户名查询用户-->
    <select id="findByName" resultType="cn.emrys.springboot.entity.User" parameterType="String">
        select * from blog_user where user_name = #{user_name}
    </select>

    <!--添加用户-->
    <select id="create" parameterType="cn.emrys.springboot.entity.User">
        insert into blog_user(user_name, password, email, login_last_time, login_times) values (#{user_name}, #{password}, #{email}, #{login_last_time}, #{login_times})
    </select>

    <!--更新用户信息-->
    <select id="update" parameterType="cn.emrys.springboot.entity.User">
        update blog_user set password = #{password}, email = #{email}, login_last_time = #{login_last_time}, login_times = #{login_times} where id = #{id}
    </select>

    <!--更新用户状态-->
    <select id="updata_status" parameterType="int">
        update blog_user set status = #{status} where id = #{id}
    </select>

    <!--删除用户-->
    <select id="delete" parameterType="int">
        delete from blog_user where id = #{id}
    </select>

    <!--用户管理获取用户(可查找)-->
    <select id="searchByName" parameterType="String" resultType="cn.emrys.springboot.entity.User">
        select * from blog_user
        <choose>
            <when test="_parameter != null and _parameter != ''">
                where user_name like concat('%',#{name},'%') ORDER BY `id`
            </when>
            <otherwise>
                ORDER BY `id` limit 20
            </otherwise>
        </choose>
    </select>

</mapper>